body
{
  margin: 10px 0 ;
  padding: 0 ;
  text-align: center ;
}
nav>ul {
	display: inline; /* the default for span */
	width: 100px;
	height: 100px;
	padding: 5px;
	border: 1px solid blue;
  }
  .navbar {
	  font-size: 100px;
	  font-family: roboto;
	  border-color: black;
	  display: inline;
	  visibility: visible;
	  top:left;
  }
  p{
	  color: brown;
	  font-family:roboto ;

  }